{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warn_format,
            %% warn_export_all,
            %warn_export_vars,
            warn_obsolete_guard,
            %warnings_as_errors,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{lib_dirs, ["deps"]}.

{deps, [
  {lager,       ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.2"}}},
  {jsx,         ".*", {git, "git://github.com/flussonic/jsx.git", "216b97df550b2a"}},
  {meck,        ".*", {git, "git://github.com/eproxus/meck", "beb8d14e59"}},
  {gen_tracker, ".*", {git, "git://github.com/erlyvideo/gen_tracker.git", "HEAD"}},
  {neotoma,     ".*", {git, "git://github.com/seancribbs/neotoma", "8cec73446563e"}},
  {cowboy,      ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
  {lhttpc,      ".*", {git, "git://github.com/erlyvideo/lhttpc", "439f718918116"}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
