<!DOCTYPE html>
<html lang="en">
  <head>
    <script src='/js/jquery.js'></script>
    <script src='/js/highcharts.js'></script>
    <script src='/js/rangeSelector.js'></script>
    <script src='/js/graphic.js'></script>
    <script>
      function connect(){
        window.Graphic.init({{config}});
        var urlData = window.rangeSelector.getUrlData();
        window.Graphic.request(urlData.step, urlData.proto);
      }
      window.onload = connect;
    </script>
  </head>
  <body>
    <div id='range'></div>
    <div id='pulse'></div>
  </body>
</html>
